:root,
#root {
  height: 100%;
}
body {
  --font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-family: var(--font-family);
  background-image: url(https://thaka.bing.com/th?id=OUWL.casual_games_background_light);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 80%;
  height: 100%;
  margin: auto;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.all-games-container {
  flex-grow: 1;
  height: 100%;
  display: flex;
  gap: 2rem;
}
.all-games-left {
  height: 500px;
  overflow: hidden;
  min-width: 30%;
  background-color: #edf4fc;
  border-radius: 1rem;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
}
.recently-played-title-wrapper {
  display: flex;
  align-items: center;
  margin-inline: 1.5rem;
}
.recently-played-image {
  width: 2.5rem;
  height: 2.5rem;
  margin-right: 0.5rem;
}
.recently-played-content,
.recommended-content {
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}
.recommended-game-wrapper {
  display: flex;
  align-items: center;
  margin-inline: 1rem 0.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
}
.recommended-game-wrapper:hover {
  background-color: white;
}
.recommended-game-image {
  width: 70px;
  height: 70px;
}

.all-games-right {
  border-radius: 1rem;
  height: 500px;
  padding-bottom: 1rem;
  flex-grow: 1;
  background-color: yellow;
}

footer {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
