:root,
#root {
  height: 100%;
}
body {
  --font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-family: var(--font-family);
  background-image: url(https://thaka.bing.com/th?id=OUWL.casual_games_background_light);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 80%;
  height: 100%;
  margin: auto;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.all-games-container {
  flex-grow: 1;
  height: 100%;
  display: flex;
  gap: 2rem;
}
.all-games-left {
  height: 500px;
  overflow: hidden;
  min-width: 30%;
  background-color: #edf4fc;
  border-radius: 1rem;
  padding: 1rem;
  padding-top: 0;
  display: flex;
  flex-direction: column;
}
.game-suggestion-title-wrapper {
  display: flex;
  align-items: center;
}
.game-suggestion-image {
  width: 2.5rem;
  height: 2.5rem;
  margin-right: 0.5rem;
}
.game-suggestion-left-content {
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}
.recommended-game-wrapper {
  display: flex;
  align-items: center;
  border-radius: 0.5rem;
  cursor: pointer;
}
.recommended-game-wrapper:hover {
  background-color: white;
}
.recommended-game-image {
  width: 70px;
  height: 70px;
}

.all-games-right {
  flex-grow: 1;
  border-radius: 1rem;
  height: 500px;
  background-color: yellow;
  padding: 1rem;
  padding-top: 0;
  overflow: hidden;
}
.game-suggestion-right-content {
  display: grid;
  grid-template-columns: 1fr 2.6fr 1fr;
  gap: 2rem;
  height: 100%;
  background-color: red;
}
.left-grid-column {
  display: flex;
  flex-direction: column;
  background-color: green;
}
.left-grid-column > * {
}
.top-game > img,
.bottom-game > img {
  width: 100%;
  object-fit: cover;
}

footer {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
