@tailwind base;
@tailwind components;
@tailwind utilities;

:root,
#root {
  height: 100%;
}
body {
  --font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-family: var(--font-family);
  background-image: url(https://thaka.bing.com/th?id=OUWL.casual_games_background_light);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100%;
}

.App {
  margin: auto;
}

.all-games-container {
  display: flex;
  flex-direction: column-reverse;
  width: 300px;
  margin: 0 auto;
}
.all-games-left {
  overflow: hidden;
  border-radius: 1rem;
  height: 400px;
  padding: 1rem;
  padding-top: 0;
  display: flex;
  flex-direction: column;
}
.game-suggestion-title-wrapper {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 1.25rem;
  margin: 1rem 0;
}
.game-suggestion-image {
  width: 2rem;
  height: 2rem;
  margin-right: 0.5rem;
}
.game-suggestion-left-content {
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}
.recommended-game-wrapper {
  display: flex;
  align-items: center;
  border-radius: 0.5rem;
  margin-right: 0.5rem;
  cursor: pointer;
}
.recommended-game-wrapper > h3 {
  margin-right: 0.5rem;
}
.recommended-game-wrapper:hover {
  background-color: white;
}
.recommended-game-image {
  width: 65px;
  height: 65px;
}

.all-games-right {
  height: 625px;
  border-radius: 1rem;
  padding: 1rem;
  padding-top: 0;
  display: flex;
  flex-direction: column;
}
.game-suggestion-right-content {
  --title-height: 72px;
  display: grid;
  grid-template-rows: 3fr 1.5fr 1.5fr;
  row-gap: 1rem;
  flex-grow: 1;
}
.left-grid-column {
  grid-row: 2 / auto;
  display: flex;
  gap: 1rem;
}
.middle-grid-column {
  grid-row: 1 / auto;
  display: flex;
  gap: 1rem;
}
.right-grid-column {
  grid-row: 3 / auto;
  display: flex;
  gap: 1rem;
}
.left-grid-column > *,
.right-grid-column > *,
.middle-grid-column > * {
  flex-grow: 1;
  background-image: url(../assets/game-cover-images/minesweeper2.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 1rem;
  cursor: pointer;
}

footer {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.game-suggestion-left-content::-webkit-scrollbar {
  width: 10px;
}
.game-suggestion-left-content::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px hsl(0, 0%, 80%);
  border-radius: 10px;
}
.game-suggestion-left-content::-webkit-scrollbar-thumb {
  background: hsl(0, 0%, 45%);
  border-radius: 10px;
}

@media only screen and (min-width: 700px) {
  .App {
    width: 650px;
  }
  .all-games-container {
    width: 625px;
  }
  .all-games-right,
  .all-games-left {
    background-color: #edf4fc;
  }
  .all-games-left {
    width: 100%;
    margin-top: 1rem;
  }
  .all-games-right {
    height: 500px;
  }
  .game-suggestion-right-content {
    grid-template-rows: none;
    grid-template-columns: 2fr 1fr;
    row-gap: unset;
    column-gap: 1rem;
    width: auto;
  }
  .left-grid-column {
    grid-row: unset;
    flex-direction: column;
    display: none;
  }
  .middle-grid-column {
    grid-row: unset;
    grid-column: 1 / auto;
  }
  .right-grid-column {
    grid-row: unset;
    flex-direction: column;
    grid-column: 2 / auto;
  }
}
@media only screen and (min-width: 1000px) {
  .App {
    width: 925px;
  }
  .all-games-container {
    width: 100%;
    flex-direction: row;
    gap: 1rem;
  }
  .all-games-left {
    height: 500px;
    width: 300px;
    margin: 0;
  }
  .all-games-right {
    flex-grow: 1;
  }
}
@media only screen and (min-width: 1300px) {
  .App {
    width: 1225px;
  }
  .game-suggestion-right-content {
    grid-template-columns: 1fr 2.5fr 1fr;
  }
  .left-grid-column {
    grid-column: 1 / auto;
    display: flex;
  }
  .middle-grid-column {
    grid-column: 2 / auto;
  }
  .right-grid-column {
    grid-column: 3 / auto;
  }
  .all-games-left {
    width: 325px;
  }
  .all-games-right {
    width: 900px;
  }
}
