.scrollbar {
  position: relative;
  margin: 1rem auto 2rem;
  width: 90%;
}
.game-buttons-container-wrapper {
  overflow: hidden;
}
.game-buttons-container {
  padding: 1.5rem 0 0.5rem;
  display: flex;
  gap: 2rem;
  transition: transform 1s ease;
}

.game-button {
  height: 45px;
  cursor: pointer;
  border: none;
  border-radius: 5rem;
  background-color: #f4f8fd;
  display: flex;
  align-items: center;
  padding: 0 1rem 0.25rem 4.5rem;
  position: relative;
  min-width: fit-content;
}
.game-button-image {
  position: absolute;
  left: 0;
  width: 4.5rem;
  transition: transform 0.25s ease 0.05s;
}
.game-button-name {
  font-size: 1.2rem;
  position: relative;
  font-family: var(--font-family);
}
.game-button:hover {
  background-color: white;
}
.game-button:hover > .game-button-image {
  transform: translate(0, -0.75rem);
  filter: invert(0%) drop-shadow(1px 1px 10px hsl(0, 0%, 80%));
}

.scroll-left-button,
.scroll-right-button {
  position: absolute;
  z-index: 1;
  background-color: transparent;
  border: none;
  top: 40%;
  padding: 0;
}
.scroll-left-button {
  left: -2rem;
}
.scroll-right-button {
  right: -2rem;
}

.arrow-wrapper {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
  border-radius: 50%;
  background-color: white;
  width: 30px;
  height: 30px;
  position: relative;
  cursor: pointer;
}
.arrow-wrapper:hover {
  background-color: whitesmoke;
}
.arrow-left,
.arrow-right {
  border: solid black;
  border-width: 0 2px 2px 0;
  padding: 0.3rem;
  position: absolute;
}
.arrow-left {
  top: 30%;
  left: 35%;
  transform: rotate(135deg);
}
.arrow-right {
  top: 30%;
  left: 25%;
  transform: rotate(-45deg);
}
