body {
  font-family: Georgia, "Times New Roman", Times, serif;
  background-image: url(https://thaka.bing.com/th?id=OUWL.casual_games_background_light);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 80%;
  margin: auto;
}
